<form (submit)="onCreate(nameInput, descriptionInput)">
  <div class="form-section">
    <label for="name">Item name:</label>
    <input type="text" name="name" #nameInput required>
  </div>
  <div class="form-section">
    <label for="description">Item description:</label>
    <textarea name="description" cols="20" rows="3" #descriptionInput></textarea>
  </div>
  <div class="form-section">
    <button type="submit">
      Add item
    </button>
  </div>
  <div class="pending" *ngIf="isPending">
    <img src="assets/spinner.svg" alt="">
  </div>
</form>
